  
/* Global Styles */
body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

 

/* Sign In Banner Styles */
.sign-in-banner {
/* position: fixed; */
top: 0;
width: 100%;
/* background-color: #24078c; */
color: white;
text-align: center;
padding: 10px 0;
z-index: 1000;
display: flex;
justify-content: center;
align-items: center;
}

.sign-in-banner p {
margin: 0;
padding-right: 10px;
}

.sign-in-button {
background-color: white;
color: #07278c;
border: none;
padding: 5px 20px;
border-radius: 5px;
cursor: pointer;
font-weight: bold;
}

.close-banner {
position: absolute;
right: 15px;
top: 10px;
font-size: 20px;
cursor: pointer;
color: white;
margin-right: 30px;
}


.navbar-logo img{
width: 100px;
height: 8vh;
margin-left: 100px;
margin-top: 30px;
}

.hero {
	background-image: linear-gradient(to bottom, #ccccff, #ffffff);
	padding: 3px 0;
	text-align: center;
  
}


.dd-grid{
  background-color: #07278c; 
  border-radius: 20px; 
  color: white; 
  margin-top: 40px;
  width: 25%;
  height: 10vh;
  text-align: center;
  align-content: center;
  margin: auto;
  margin-top: 30px;
  margin-bottom: 20px;
  }

 .btn-btn{
  color: #07278c; 
  font-weight: bold; 
  background-color: aqua; 
  width: 10%;
  height: 45px;
  border-radius: 15px;
  margin: auto;
  text-align: center;
    }

.featured-hotels {
	padding: 20px;
  /* margin-top: 120px; */
}


.hotel-card {
	margin: 20px;
	padding: 20px;
	border: 1px solid #ddd;
	border-radius: 5px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.hotel-card img {
	width: 100%;
	height: 150px;
	object-fit: cover;
	border-radius: 5px 5px 0 0;
}


.cta {
  text-align: center; 
  padding: 30px;
	background-color: #f0f0f0;
	/* padding: 20px; */
	text-align: center;
 
}

.cta button[type="button"] {
	background-color: #007bff;
	color: #fff;
	padding: 10px 20px;
	border: none;
	border-radius: 5px;
	cursor: pointer;
  text-align: center; 
  padding: 30px;
}

ul {
    list-style-type: none;
  }
  a {
    text-decoration: none;
  }

  .nav-flight i{
  padding: 3px;
  
 }
 .nav-Hotel i{
  padding: 3px;
  
 }
 .nav-Airport i{
  padding: 3px;
 }
 .nav-rentals i{
  padding: 3px;
 }

.col h1{
  color: white; 
  margin-top: 40px;
}

  .mini{
    width: 100%;
    height: 10vh;
    background-color: #535050;
  
   }


ul li{
  
 margin-left: 40px;

}




.box-one{
 color: white;
  margin-top: 10px;
  font-weight: bold;
  font-size: 30px;
  margin-left: 100px;
} 


.box-two{
  background-color:rgb(152, 0, 0); 
  color: white; align-content: center; 
  margin-top: 18px; 
  height: 18vh; 
  border-radius: 10px; 
  margin: 20px;
  box-shadow: 2px 2px 2px 1px;
  box-shadow: 2px 2px 2px 1px;
  transition: all 0.5s ease-in-out;
  cursor: pointer;
}

.box-three{
  background-color:rgb(152, 0, 0); 
  color: white; align-content: center; 
  margin-top: 18px; 
  height: 18vh; 
  border-radius: 10px; 
  margin: 20px;
  box-shadow: 2px 2px 2px 1px;
  box-shadow: 2px 2px 2px 1px;
  transition: all 0.5s ease-in-out;
  cursor: pointer;
}

.box-four{
  background-color:rgb(152, 0, 0); 
  color: white; align-content: center; 
  margin-top: 18px; 
  height: 18vh; 
  border-radius: 10px; 
  margin: 20px;
  box-shadow: 2px 2px 2px 1px;
  transition: all 0.5s ease-in-out;
  cursor: pointer;
}

.part1:hover{
  transform: translate(-5px);
 }


.part2:hover{
  transform: translate(-5px);
 }

.part3:hover{
  transform: translate(-5px);
 }

.card {
  height: 100%;
  
  border-radius: 20px;
  margin: 10px;
}


.photo-three, img{
  height: 30vh;
  width: 120%;
  margin-bottom: 30px;
 
}

.photo-four, img{
  height: 30vh;
  width: 120%;
  margin-bottom: 30px;
  
}


.photo-five, img{
  height: 30vh;
  width: 120%;
  margin-bottom: 30px;
  
}


.photo-six, img{
  height: 30vh;
  width: 120%;
  margin-bottom: 30px;
  
}

.card-bodyone img{
 
  height: 50vh;
}

.rentals h4{
  font-weight: bold;
}

.rentals-two h4{
  font-weight: bold;
}

.card-bodytwo img{
height: 50vh;


}

.rentals-three button{
width: 15%;
height: 10vh;
background-color: #07278c;
color: white;
font-size: 20px;
border-radius: 10px;
border: white;
font-weight: bold;
}

.check{
  margin-top: 50px;
  color: #07278c;
}


.check h2{
   font-size: 30px;
   font-weight: bold;
  
}


.card-title {
 
  margin-bottom: 20px;
  width: 80%;
  margin-right: 4px;
  padding-right: 30px;

}



.card {
  height: 15vh;
  
  border-radius: 20px;
  margin: 10px;
}

.card-body{
  
  margin-top: 10px;
  font-weight: bold;
}

.card-body p, h6 {
  padding-bottom: 0px;
 font-weight: bold;
 
}

.rentals-three button{
  width: 30%;
  height: 10vh;
  margin-top: 80px;
  
  
  }

  .card-bodytwo{
    margin-top: 100px;
    height: 40vh;
  }

  .card-bodythree img{
    height: 100vh;
    margin-top: 40px;
    width: 100%;
    margin-bottom: 10px;
  }


  
.photo, img{
  height: 40vh;
  width: 100%;
  margin-bottom: 40px;
  
}

.photo-two, img{
  height: 40vh;
  width: 100%;
  margin-bottom: 40px;
  
}

.photo-three, img{
  height: 40vh;
  width: 100%;
  margin-bottom: 20px;
 
}

.photo-four, img{
  height: 40vh;
  width: 100%;
  margin-top: 20px;
  
}


.photo-five, img{
  height: 40vh;
  width: 100%;
  margin-top: 20px;
  
}


.photo-six, img{
  height: 20vh;
  width: 100%;
  margin-bottom: 20px;
  margin-top: 20px;
  
}


.card-body{
    
  font-size: 10px;
 

}

 
.card-title {
 margin-top: 45px;
  margin-bottom: 20px;
  width: 80%;
  margin: auto;
  padding-right: 30px;
  font-size: 40px;
  text-align: center;
  font-weight: bold;
  
  
}




.sign-in-button{
  width: 2%;
  font-size: 5px;
 
}


.card {
  height: 20vh;
  margin-top: 1px;
  border-radius: 20px;
  margin-bottom: 1px;
  
}

.card-body p, h6 {
 padding-bottom: 0px;
 font-weight: bold;

}

.col h3{
 
  font-size: 20px;
  margin-left: 10px;
  margin-top: 20px;
  width: 200px;
  height: 20vh;
  
}


.mid{
  background-color: rgb(7, 2, 2); 
  height: 25vh; 
  border-radius: 15px; 
  margin-top: 20px;
  margin-left: 90px;
  width: 90%;
   
}


.cardbody-one{
  margin-top: 30px;
  
}

.check h3{

  
  font-size: 30px;
  margin-top: 85px;
  font-weight: bold;
  margin-bottom: 20px;
  border-radius: 10px;
  width: 100%;
  height: 10vh;
  text-align: center;
  color: #07278c;

}


.btn button{
  width: 100%;
  height: 10vh;
  border-radius: 15px;
  background-color: red;
  color: white;
  font-weight: bold;
  border-color: white;
  margin-bottom: 10%;
}


.photo, img{
  height: 30vh;
  width: 100%;
  margin-bottom: 40px;
  
}

.photo-two, img{
  height: 30vh;
  width: 100%;
  margin-bottom: 40px;
  
}

.photo-three, img{
  height: 30vh;
  width: 100%;
  margin-bottom: 20px;
 
}

.photo-four, img{
  height: 30vh;
  width: 100%;
  margin-bottom: 20px;
  
}


.photo-five, img{
  height: 30vh;
  width: 100%;
  margin-bottom: 20px;
  
}


.photo-six, img{
  height: 30vh;
  width: 100%;
  margin-bottom: 20px;
  
}


.card-bodythree img{
  height: 50vh;
  margin-top: 40px;
  width: 100%;
  margin-bottom: 10px;
}

.cardbody-four, img{
  height: 30vh;
}

.rentals-three button{
  width: 40%;
  height: 10vh;
  margin-top: 80px;
  
  
  }

  .card {
    width: 100%;
    height: 20vh; 
  }  

  .check{
    margin-top: 70px;
  }
  
  
  .check h3{
     font-size: 20px;
     font-weight: bold;
     
  }


/* @media screen and (max-width: 1200px)*/

@media (max-width: 1200px) {
  input {
    width: 30%;
    height: 4vh; 
  }

  .card {
    width: 100%;
    height: 20vh; 
  }

  }


  @media screen and (max-width: 992px) {
    .dd-grid{
      margin-top: 20%;
      width: 300px;
      font-size: 15px;
      
      }
    
     .btn-btn{
      margin-top: 30px;
      width: 200px;
        }


}



/* Hide the section with the class 'hide-on-mobile' on screens that are 768px wide or smaller */

@media screen and (max-width: 768px) {
.hide-on-mobile{
  display: none;

}

  .dd-grid{
    margin-top: 50%;
       
    }
  
   .btn-btn{
    margin-top: 35px;
    
      }
    
    
}

@media screen and (max-width: 657px) {
     
   

}

@media screen and (max-width: 658px) {
  .dd-grid{
    margin-top: 50%;
    
       
    }
  
   .btn-btn{
    margin-top: 45px;
    
      }
    


}


@media screen and (max-width: 583px) {
  
  .dd-grid{
    margin-top: 60%;
    
       
    }
  
   .btn-btn{
    margin-top: 45px;
    
      }

  .col-4 label{
    height: 0vh;
    font-size: 12px;
    width: 200px;
    padding-right: 5px;
   
    }

    .h6, p {
      padding: 25px;
      padding-bottom: 50px;
      font-size: 13px;
      
    
      }

     .card {
      width: 110%;
      height: 25vh; 
      padding: 1px;
      background-color: aqua;
      
    } 

    label{
      margin-right: 30px;
      
    }

    .col-4 input {
      height: 5vh;
      font-size: 15px;
      width: 100px;
      
    
      }
    
}


@media screen and (max-width: 515px) {
  .card {
      height: 20vh;
      margin-top: 1px;
      border-radius: 20px;
      margin-bottom: 1px;
      
    }
   
    
  }
    
      .hotel, h2{
 
        margin-top: 5px;
       
          }


          @media screen and (max-width: 485px) {
            .box-one{
            color: white;
             margin-top: 10px;
             font-weight: bold;
             font-size: 30px;
             font-size: large;
             width: 5%;
             height: 5vh;
             
           } 
           
           
           .box-two{
             background-color:rgb(0, 152, 30); 
             color: white; 
             align-content: center; 
             margin-top: 30%; 
             height: 18vh; 
             border-radius: 10px; 
             margin: 20px;
             box-shadow: 2px 2px 2px 1px;
             box-shadow: 2px 2px 2px 1px;
             transition: all 0.5s ease-in-out;
             cursor: pointer;
           }
           
           .box-three{
             background-color:rgb(152, 0, 0); 
             color: white; align-content: center; 
             margin-top: 18%; 
             height: 18vh; 
             border-radius: 10px; 
             margin: 20px;
             box-shadow: 2px 2px 2px 1px;
             box-shadow: 2px 2px 2px 1px;
             transition: all 0.5s ease-in-out;
             cursor: pointer;
           }
           
           .box-four{
             background-color:rgb(152, 0, 0); 
             color: white; align-content: center; 
             margin-top: 30%; 
             height: 18vh; 
             border-radius: 10px; 
             margin: 20px;
             box-shadow: 2px 2px 2px 1px;
             transition: all 0.5s ease-in-out;
             cursor: pointer;
           }
          }


@media screen and (max-width: 333px) {
  .dd-grid{
 
    margin-top: 300px;
    padding-top: 10px;
    font-weight: bold;
       
      }
  
  
  /* .col-4 {
  flex-basis: 100%;
  max-width: 80%;
  height: 20vh;
  margin: auto;
  margin-bottom: 20px;
    
   } */

   /* .card {
    width: 100%;
    height: 100vh; 
  } */

   /* .col-4 input, label {
    height: 5vh;
    font-size: 5px;
    width: 15px;
     */
  
    }
  
    
  
  
  @media screen and (max-width: 255px) {
    .dd-grid{

      width: 50%;
      font-size: 25px;
      font-weight: bold;
      margin-bottom: 100px;
      margin-top: 300px; 
      
      }

      

      .featured-hotels{
        margin-bottom: 2%;
       
  
      }
      .check h3{
  
    
        font-size: 30px;
        margin-top: 50px;
        font-weight: bold;
        margin-bottom: 70px;
        border-radius: 10px;
        width: 100%;
        height: 10vh;
        text-align: center;
      
      }

      .cont{
        margin-top: 30px;
      }

      .rentals-two h4{
        margin-top: 20px;
        
      }
      .hero h1{
        padding-top: 20px;
      }

      .rentals-three button{
        width: 75%;
        height: 10vh;
        background-color: #07278c;
        color: white;
        font-size: 15px;
        margin-top: 50%;
  
        
        }

        .featured-hotels{
          margin-bottom: 10%;
          margin-top: 60%;
        }

        .card-bodythree img{
          margin-top: 3px;
        }
  }

  




 
